# ==============================================================================
# VARIABLES DE ENTORNO - KAL DISCOBAR
# ==============================================================================

# Backend (Para Render)
PORT=5000
ADMIN_SECRET_KEY=KarolN2026@
UNPAID_SECRET_KEY=NoPagoProyecto2026!
INITIAL_SUBSCRIPTION_STATUS=active

# Frontend (Vite / Vercel)
VITE_API_URL=https://tu-backend-en-render.onrender.com
